<div class="container-fluid">
    <header class="text-center">
        <h1 class="size mt-2"><u>About</u></h1>
    </header>

    <div class="mt-5">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-md-3">
                    <img class="textcenter"
                        src="../../../assets/speedometer.png" height="130px"
                        width="130px" alt="">
                    <h1 class="center size">Fast</h1>
                    <h2 class="text">Fast load times and lag free interaction,
                        my highest priority.</h2>
                </div>

                <div class="col-md-3">
                    <div class="">
                        <img class="textcenter"
                            src="../../../assets/responsive-design.png"
                            height="130px" width="130px" alt="">
                    </div>
                    <h1 class="responsive size">Responsive</h1>
                    <h2 class="text">My layouts will work on any device, big or
                        small.</h2>
                </div>
                <div class="col-md-3">
                    <img class="textcenter" src="../../../assets/edition.png"
                        height="130px" width="130px" alt="">
                    <h1 class="center Intuitive size">Intuitive</h1>
                    <h2 class="text3">Strong preference for easy to use,
                        intuitive UX/UI.</h2>
                </div>
                <div class="col-md-3">
                    <img class="textcenter" src="../../../assets/dynamic.png"
                        height="50px" width="60px" alt="">
                    <h1 class="center Dynamic size">Dynamic</h1>
                    <h2 class="text">Websites don't have to be static, I love
                        making pages come to life.</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-1"></div>
        <div class="col-md-5">

            <div class="text-center hexagon">
                <img src="../../../assets/smartphone-ga89b779b6_1920.jpg"
                    alt="">
            </div>
            <div class="text-center">
                <h2>ANURAG SHARMA</h2>
                <h3>
                    I'm a full-stack Developer for ChowNow in Los Angeles, CA.
                    I have serious passion for UI effects, animations and
                    creating intuitive, dynamic user experiences.
                    Let's make something special.
                </h3>
            </div>

        </div>
        <div class="col-md-5">

            <div class="progress mt-3">
                <div class="tag bold flex">HTML</div>
                <div class="progress-bar color" aria-placeholder="HTML"
                    role="progressbar" style="width: 90%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                <span>90%</span>
            </div>

            <div class="progress mt-3">
                <div class="tag bold flex">CSS</div>
                <div class="progress-bar color" aria-placeholder="HTML"
                    role="progressbar" style="width: 70%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100"></div>
                <span>75%</span>
            </div>

            <div class="progress mt-3">
                <div class="tag bold flex">BOOTSTARP</div>
                <div class="progress-bar color" aria-placeholder="HTML"
                    role="progressbar" style="width: 90%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                <span>90%</span>
            </div>

            <div class="progress mt-3">
                <div class="tag bold flex">JAVASCRIPT</div>
                <div class="progress-bar color" aria-placeholder="HTML"
                    role="progressbar" style="width: 70%" aria-valuenow="70"
                    aria-valuemin="70" aria-valuemax="100"></div>
                <span>70%</span>
            </div>

            <div class="progress mt-3">
                <div class="tag bold flex">ANGULAR</div>
                <div class="progress-bar color" aria-placeholder="HTML"
                    role="progressbar" style="width: 70%" aria-valuenow="70"
                    aria-valuemin="70" aria-valuemax="100"></div>
                <span>70%</span>
            </div>

            <div class="progress mt-3">
                <div class="tag bold flex text-center">MySQL</div>
                <div class="progress-bar color" aria-placeholder="HTML"
                    role="progressbar" style="width: 90%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                <span>90%</span>
            </div>

            <div class="progress mt-3">
                <div class="tag bold flex">Oracle</div>
                <div class="progress-bar color" aria-placeholder="HTML"
                    role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                <span>80%</span>
            </div>

            <div class="progress mt-3">
                <div class="tag bold flex">SPRING BOOT</div>
                <div class="progress-bar color" aria-placeholder="HTML"
                    role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="80" aria-valuemax="100"></div>
                <span>80%</span>
            </div>

            <div class="progress mt-3">
                <div class="tag bold flex">HIBERNATE</div>
                <div class="progress-bar color" aria-placeholder="HTML"
                    role="progressbar" style="width: 60%" aria-valuenow="60"
                    aria-valuemin="60" aria-valuemax="100"></div>
                <span>60%</span>
            </div>



        </div>
        <div class="col-md-1"></div>
    </div>

</div>
