
<header class="back">
    
</header>
<div class="container-fluid mt-1">
    <div class="col-md-12">
        <mat-card class="text-center cardhome star-galaxy-animation">
            <div class="header mt-5">
                <h1>Hello, i'm <span class="spanname">Anurag Sharma</span></h1>
                <h2>i'm full-stack web developer</h2> 
 
                <button mat-raised-button color="primary" routerLink="/about" >View my work</button> <button mat-icon-button matTooltip="Warn" aria-label="Example icon-button with a heart icon">
                    <mat-icon class="mt-0">arrow_forward</mat-icon>
                  </button>
            </div>
           
        </mat-card>
         
    </div>
  
</div>