<!-- <div class="container">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/Cards.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/dashborad.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/TableDetals-html.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/foods-html-table_id-1094-order_id-1175.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/invoice.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only primary">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div> -->

  
    <img src="../../../assets/TableDetals-html.png" class="d-block w-100" alt="...">
  

    <img src="../../../assets/dashborad.png" class="d-block w-100" alt="...">
  

    <img src="https://via.placeholder.com/900x500.png?text=Slide+3">
 
   
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody id="body">
      
      
      </tbody>
    </table>